*{

    margin:0;

    padding:0;

}

.container{

    display: flex;

}

.sidebar{

    background-color: rgb(224, 146, 146);

    width: 434px;

    height: 100vh;

}

.sidebar nav {

    padding:39px;

}

.sidebar nav li{

    list-style: none;

    padding: 33px 0;

}

.sidebar nav li a{

    text-decoration: none;

    color:black;

}

.main{

    /* background-color: yellow; */

    width: 87vw;

}

.infocontainer{

    /* background: pink; */

    height: 58vh;

    width: 80vw;

    margin: 100px auto;

    display: flex;

}

.info{

    display: flex;

    justify-content: center;

    flex-direction: column;

}

.pic img{

    height:58vh;

    justify-content: space-around;

}

.hello{

 font-size: 30px;

 font-weight: lighter;

 padding-left:60px;

}

.name{

    font-size: 40px;

    text-align: left;

    font-weight: bold;

    padding-left:60px;

}

.about{

    font-size: 20px;

    font-weight: lighter;

    padding-left:60px;

}

.moreabout{

    font-size: 19px;

    padding-left:60px;

    margin-top: 10px;

}

.button{

    padding-left:60px;

    margin-top: 25px;

    display: flex;

}

.button button{

border: solid black 1px;

padding:9px 10px;

background: blueviolet;

color:white;

font-weight: bold;

font-size:10px ;

cursor: pointer;

margin-right:10px;

border-radius: 5%;

}

button a{

    text-decoration: none;

    color:white;

}

.contact{

    margin-top: 70px;

    margin-left: 20px;

}

